@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: white !important;
}
/* footer */
footer {
  color: white !important;
}

.con1 #name,
.con1 #email {
  font-size: 10px;
}

